<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h2>Create new listing</h2>
        <form method="post" action="/listings" class="needs-validation" novalidate>
            <div class="mb-3">
                <lable for="title" class="form-label">Title</lable>
                <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required/>
                <div class="valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
                <level for="description" class="form-label">Description</level>
                <textarea name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">please enter a short discription</div>
            </div>
            <div class="mb-3">
                <lable for="image" class="form-label">Image link</lable>
                <input name="listing[image]" placeholder="enter image URL/link" type="text" class="form-control"/>
            </div>
                <div class="row">
                <div class="mb-3 col-md-4">
                    <lable for="price" class="form-label" placeholder="1200" type="number">Price</lable>
                    <input name="listing[price]" class="form-control" required/>
                    <div class="invalid-feedback"> Price should be valid</div>
                </div>
                
                <div class="mb-3 col-md-8">
                    <lable for="country" class="form-label">Country</lable>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
                    <div class="invalid-feedback">Please enter the country name</div>
                </div>
            </div>
            <div class="mb-3">
                <lable for="location" class="form-label">Location</lable>
                <input name="listing[location]" placeholder="Uttarpradesh, Azamgarh" type="text" class="form-control" required/>
                <div class="invalid-feedback">location must be valid</div>
            </div>
            <br>
            <button class="btn btn-dark add-btn">add</button>
        </form>
    </div>
</div>